.content-container__about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }

}

.about-container {
  background: url('/images/flip.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.buffer {
  width: 100%;
  height: 100px;
}


.flex-item-pic {
  align-items: center;
  justify-content: center;
}

.flex-item__main {
  margin: 15px;
}

.flex-item__main.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.flex-item__main.main2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-end;
  position: sticky;
  top: 0;
  @media (max-width: $desktop-breakpoint) {
    position: static;
  }
}

.profile__pic {
  border-radius: 50%;
  border: 2px solid black;
  align-self: flex-end;
  padding: 5px;
  margin: 5px 0 20px 20px;
}

.profile__header {
  font-size: $font-size-xlheader;
  flex-grow: 1;
  text-align: center;
  align-self: flex-end;
  color: black;


}

.profile__split-2 {
  display: flex;
  flex-direction: row;
}

.about-me {
  font-size: $font-size-xlarge;
  font-family: $book;
  color: black;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: $l-size $xl-size;
  text-align: left;
  @media (max-width: $desktop-breakpoint) {
    margin-top: 10px;
  }
}
