.content-container__about {
  margin: 0 $m-size;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }

}


.flex-item-pic {
  align-items: center;
  justify-content: center;
}

.flex-item__main {
  margin: 15px;
}

.flex-item__main.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

.flex-item__main.main2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-end;
  flex-grow: 1;
}

.profile__pic {
  border-radius: 50%;
  border: 2px solid black;
  align-self: flex-end;
  padding: 5px;
  margin: 20px 0 20px 20px;
}

.profile__header {
  font-size: $font-size-xlheader;
  flex-grow: 1;
  text-align: center;
  margin-top: 100px;
  align-self: flex-end;


}

.profile__split-2 {
  display: flex;
  flex-direction: row;
}

.about-me {
  font-size: $font-size-xlarge;
  font-family: $book;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: $l-size $xl-size;
  margin-top: 100px;
  text-align: left;
  @media (max-width: $desktop-breakpoint) {
    margin-top: 10px;
  }
}
