

.page-wrap {
  background: url('/images/mt-fade-bg_edited_2.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;


  transition: background-position 1s .5s ease;
  &:hover {
    background-position: top;
    h3 {
      color:$off-white;
      text-shadow: 3px 3px 4px black;
    }
    .icon__item {
      opacity: 1;
    }
  }
  @media (max-width: $tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    max-height: auto;
  }
}

.contact-container{
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.contact__header {
  color: black;
  text-align: center;
  font-family: $marker;
  font-weight: 700;
  font-size: $font-size-header;
  padding: $m-size 0;
  text-shadow: 3px 3px 4px #222;
  margin: 0 auto;
  transition: color 2s .1s ease, text-shadow 2s .1s ease;
  @media (max-width: $tablet-breakpoint) {
    color: $off-white;
    padding: $m-size;

  }
}

.contact__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact {
  text-decoration: none;
}

.phone-message {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: $font-size-xlarge;
  color: white;
  font-family: $marker;
  text-shadow: 3px 3px 4px #222;
  padding: $m-size;
    @media (max-width: $tablet-breakpoint) {
      font-size: $font-size-large;
    }
}
