.header {
  background-color: transparent;
  height: 150px;
  width: 100vw;
  z-index: 1;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
   transition: opacity 1s linear .3s, height 1s linear .3s;
}

.header__title {
  color: white;
  text-decoration: none;
  align-self: flex-start;
  margin-right: auto;

}
.main-title {
  color: white;
  font-family: $book;
  margin: 0;
  padding: 0 3px;
  margin-right: 20%;
  @media (max-width: $desktop-breakpoint) {
    display: none;
  }


}

.header__link {
  color: white;
  text-decoration: none;
  align-self: flex-end;
  font-family: $book;
  padding: 0 $m-size;
  font-size: $font-size-large;
  flex-shrink: 1;

}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: $s-size 0;
}

.header__logo {

}
