.icon {
  color: $deep-red;
  transition: color .3s ease;
  text-decoration: none;
  transition:
  opacity .1s ease-in,
  color .1s ease-in,
  transform .5s .1s ease-in;
  display: flex;
  flex-direction: column;
  text-align: center;

&:hover {
  color: #DA0808;
  transform: scale(1.1);
 }

}

.phone {
  cursor: pointer;

}
.icon__item {
padding: $s-size;
opacity: 0.1;
transition: opacity .5s ease-in;
@media screen and (max-width: $tablet-breakpoint) {
opacity: 1;  
}

}

.icon__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .4s ease-in;

  &:hover .icon__title {
    opacity: 1;
  }


}


.icon__section__contact {
@extend .icon__section;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $xl-size;
  &:hover {
    transform: scale(1.1);
  }
}
