.icon {
color: black;
transition: color .3s ease;
&:hover {
  color: $deep-red;
}

}

.icon__item {
padding: $m-size $l-size;

}

.icon__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
