.gallery-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell {
  padding: $s-size;
  opacity: 1;
  transition: opacity .3s ease;
  &:hover {
    opacity: .7;
  }

  img {
      display: block;
  }

  h3 {
    text-align: center;
  }



  @media screen and (min-width: 600px) {
      width: 50%;
  }

  @media screen and (min-width: 1000px) {

      width: calc(100% / 3);
  }
}

.grid {
  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
