.projects-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top white, black 90%);
  align-items: center;
    h1 {
      font-size: $font-size-header;
      font-family: $syncopate;
    }

};

.project {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: $xl-size 0;
  padding: $m-size;
}
@media screen and (max-width:$mobile-breakpoint) {
  .project {
    flex-direction: column;
  }
}

// Text layout

.project__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 $l-size;
  h2  {
    text-align: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: black;
    text-align: center;

    p {
      background: $google-blue;
      border-radius: 15px;
      width: 120px;
      font-weight: bold;
      color: white;
      text-align: center;
      align-self: center;
      transition: transform .5s ease-in, background .5s ease-in;
      &:hover {
        background: lighten($google-blue, 10%);
        transform: scale(1.1);

      }
    }

  }
}

.project__image {
  margin: 0;
  img {
    max-width: 100%;
    -webkit-box-shadow: 4px 4px 4px #666;
    box-shadow: 4px 4px 4px #666;
    -moz-box-shadow: 4px 4px 4px #666;
  }


}
